{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <h3>About Us</h3>
  <p>We help you to find trending mp3 song, trending videos, and ringtones,
we will help you to get latest Punjabi, Bollywood, latest songs video and ringtones collection,
If you are want to download the songs. Madsongs is the best website for download songs in free. </p>

  <p> With Madsongs, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.
There are millions of tracks and episodes on Madsongs. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let Madsongs  surprise you.

You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.With Madsongs, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.

There are millions of tracks and episodes on Spotify. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let Madsongs surprise you.

You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.</p>


</div>
{% endblock %}
