{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <h3 style="text-align:centre";>All Video Songs List</h3>
  <table width=100% border=1>
  {% for i in vlist %}
  <tr>
  <td width=50%>
  Movie = {{i.movie.title}}<br>
  Director = {{i.movie.director}}<br>
  year of release = {{i.movie.year}}<br>
  <img src = "{{i.movie.photo.url}}" width=200 height=200/>
  </td>

  <td width=50%>
  Title={{i.title}}<br>
  Genre={{i.genre}}<br>
  <! code to play or download >
  <div style="text-align:centre">
  <video controls width=300 height=200>
  <source src="/media/{{i.songs}}"/>
  </videoo>
  
    <a href="/media/{{i.songs}}" download><br>
    <button>Download Video</button>
    </a>
  </div>
  </td>
  </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
